HW-4/HW-4.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
HW-4/HW-4.xcodeproj/xcuserdata/egorilchenko.xcuserdatad/xcschemes/xcschememanagement.plist
HW-4/HW-4.xcodeproj/project.pbxproj
